<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Declare launch configuration type -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.destecs.ide.debug.launching.core.CoSimLaunchConfigurationDelegate"
            id="org.destecs.ide.debug.launchConfigurationType"
            modes="debug"
            name="%org.destecs.ide.debug.launchConfigurationType.name"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.destecs.ide.debug.launching.core.DSELaunchDelegate"
            id="org.destecs.ide.debug.launchDSEConfigurationType"
            modes="debug"
            name="%org.destecs.ide.debug.launchDSEConfigurationType.name"
            public="true">
      </launchConfigurationType>
       <launchConfigurationType
            delegate="org.destecs.ide.debug.launching.core.DSEExternalLaunchDelegate"
            id="org.destecs.ide.debug.launchDSEExternalConfigurationType"
            modes="debug"
            name="%org.destecs.ide.debug.launchDSEExternalConfigurationType.name"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.destecs.ide.debug.launching.core.DestecsDirectoryLaunchDelegate"
            id="org.destecs.ide.debug.directoryLaunch"
            modes="debug"
            name="%org.destecs.ide.debug.directoryLaunch.name"
            public="true">
      </launchConfigurationType>
   </extension>
   
   
   <!--extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.destecs.ide.debug.launching.ui.CoSimLaunchConfigurationTab"
            group="org.destecs.ide.debug.launchConfigurationTabGroup"
            id="org.destecs.ide.debug.coSimLaunchTab"
            name="org.destecs.ide.debug.CoSimTab">
      </tab>
   </extension-->
   
   <!-- Add the launch config group to the launch dialog -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.destecs.ide.debug.launching.ui.CoSimLaunchConfigurationTabGroup"
            id="org.destecs.ide.debug.launchConfigurationTabGroup"
            type="org.destecs.ide.debug.launchConfigurationType">
            <launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="%localApplicationTabGroupDescription.debug">
            </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.destecs.ide.debug.launching.ui.aca.DSEConfigurationTabGroup"
            id="org.destecs.ide.debug.launchDSEConfigurationTabGroup"
            type="org.destecs.ide.debug.launchDSEConfigurationType">
      </launchConfigurationTabGroup>
       <launchConfigurationTabGroup
            class="org.destecs.ide.debug.launching.ui.aca.DSEExternalConfigurationTabGroup"
            id="org.destecs.ide.debug.launchDSEExternalConfigurationTabGroup"
            type="org.destecs.ide.debug.launchDSEExternalConfigurationType">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.destecs.ide.debug.launching.ui.DestecsDirectoryLaunchTabGroup"
            id="org.destecs.ide.debug.directoryLaunchTabGroup"
            type="org.destecs.ide.debug.directoryLaunch">
      </launchConfigurationTabGroup>
   </extension>
   
   <!--
		Declare a icon for a launch config type, this is e.g. used in the
		launch config dialog
	-->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.destecs.ide.debug.launchConfigurationType"
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.debug.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.destecs.ide.debug.launchDSEConfigurationType"
            icon="icons/ctool16/destecs3_misc.png"
            id="org.destecs.ide.debug.launchDSEConfigurationTypeImage">
      </launchConfigurationTypeImage>
       <launchConfigurationTypeImage
            configTypeID="org.destecs.ide.debug.launchDSEExternalConfigurationType"
            icon="icons/ctool16/externaldse_misc.png"
            id="org.destecs.ide.debug.launchDSEExternalConfigurationTypeImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.destecs.ide.debug.directoryLaunch"
            icon="icons/ctool16/directoryLaunch.png"
            id="org.destecs.ide.debug.directoryLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   
   
   
   <!-- Shoutcut for launching project. Extends the Debug and Run context menu in the VDM Explorer -->
 <extension point="org.eclipse.debug.ui.launchShortcuts">
  <shortcut
        class="org.destecs.ide.debug.ui.launchconfigurations.DestecsLaunchShortcut"
        icon="icons/ctool16/destecs_misc.png"
        id="org.destecs.ide.debug.ui.localDestecsShortcut"
        label="%org.destecs.ide.debug.ui.localShortcut.label"
        modes="debug">
     <contextualLaunch>
           <enablement>
             <with variable="selection">
             <count value="1"/>
                <iterate>
                   <or>
                      <adapt
                            type="org.destecs.ide.core.resources.IDestecsProject">
                         <!--test
                               property="org.overture.ide.core.resources.dialect"
                               value="VDM_PP">
                         </test-->
                      </adapt>
                   </or>
                </iterate>
           	</with>
           </enablement>
  		 </contextualLaunch>
     <configurationType
           id="org.destecs.ide.debug.launchConfigurationType">
     </configurationType>
  </shortcut>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchGroups">
    <launchGroup
          bannerImage="icons/ctool16/destecs_misc.png"
          id="org.destecs.ide.debug.launchGroup"
          image="icons/ctool16/destecs_misc.png"
          label="%org.destecs.ide.debug.launchGroup.label"
          mode="debug">
    </launchGroup>
 </extension>
 
 <!-- Add the debug launch action set to the perspective-->
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.destecs.ide.ui.perspective">
       <actionSet
             id="org.eclipse.debug.ui.launchActionSet">
       </actionSet>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="org.destecs.ide.debug.relaunchCommand"
          name="%org.destecs.ide.debug.relaunchCommand.name">
    </command>
    <command
          id="org.destecs.ide.debug.executeOctaveCommand"
          name="%org.destecs.ide.debug.executeOctaveCommand.name">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.destecs.ide.debug.launching.internal.RelaunchHandler"
          commandId="org.destecs.ide.debug.relaunchCommand">
    </handler>
    <handler
          class="org.destecs.ide.debug.octave.ExecuteOctaveHandler"
          commandId="org.destecs.ide.debug.executeOctaveCommand">
    </handler>
 </extension>


<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.destecs.ide.ui.page"
            class="org.destecs.ide.debug.octave.internal.WorkbenchPreferencePageOctave"
            id="org.destecs.ide.debug.octave"
            name="%org.destecs.ide.debug.octave.name">
      </page>
   </extension>
<!--
For menu additions see: 
org.eclipse.ui.ide
or
org.eclipse.ui.menus.MenuUtil
or
org.eclipse.debug.ui
or
http://wiki.eclipse.org/Menu_Contributions
http://wiki.eclipse.org/Menu_Contributions/IFile_objectContribution
http://wiki.eclipse.org/Menus_Extension_Mapping
http://wiki.eclipse.org/Platform_Command_Framework
http://help.eclipse.org/helios/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_basicext_popupMenus.htm

-->
 <extension
         point="org.eclipse.ui.menus">
         <menuContribution
           locationURI="popup:org.destecs.ui?after=additions">
       
           <command
                 commandId="org.destecs.ide.debug.relaunchCommand"
                 icon="icons/ctool16/compilerun_misc.png"
                 label="%org.destecs.ide.debug.relaunchCommand.name"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate>
                 <with variable="activeMenuSelection">
                     <reference definitionId="org.destecs.debug.relaunchfile"/>
                  </with>
                 </iterate>
              </visibleWhen>
           </command>
       
     </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
           locationURI="popup:org.destecs.ui?after=additions">
       
           <command
                 commandId="org.destecs.ide.debug.executeOctaveCommand"
                 icon="icons/ctool16/octave.gif"
                 label="%org.destecs.ide.debug.executeOctaveCommand.name"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate>
                 <with variable="activeMenuSelection">
                     <reference definitionId="org.destecs.debug.octavescriptfile"/>
                  </with>
                 </iterate>
              </visibleWhen>
           </command>
       
     </menuContribution>
   </extension>
   
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="org.destecs.debug.relaunchfile">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IFile">
               <test property="org.eclipse.core.resources.name" 
                     value="*.dlaunch"/>
            </adapt>
         </iterate>
      </definition>
   </extension>
   
    <extension point="org.eclipse.core.expressions.definitions">
      <definition id="org.destecs.debug.octavescriptfile">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IFile">
               <test property="org.eclipse.core.resources.name" 
                     value="*.m"/>
            </adapt>
         </iterate>
      </definition>
   </extension>
</plugin>
