<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.destecs.ide.debug.launching.core.CoSimLaunchConfigurationDelegate"
            id="org.destecs.ide.debug.launchConfigurationType"
            modes="debug"
            name="Co-Sim Launch"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.destecs.ide.debug.launching.ui.coSimLaunchConfigurationTab"
            group="org.destecs.ide.debug.launchConfigurationTabGroup"
            id="org.destecs.ide.debug.coSimLaunchTab"
            name="org.destecs.ide.debug.CoSimTab">
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.destecs.ide.debug.launching.ui.coSimLaunchConfigurationTabGroup"
            id="org.destecs.ide.debug.launchConfigurationTabGroup"
            type="org.destecs.ide.debug.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.destecs.ide.debug.launchConfigurationType"
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.debug.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
