<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.destecs.ide.debug.launchConfigurationType">
<stringAttribute key="destecs_launch_config_20sim_implementations" value=""/>
<stringAttribute key="destecs_launch_config_20sim_log_variables" value=""/>
<stringAttribute key="destecs_launch_config_20sim_settings" value=""/>
<stringAttribute key="destecs_launch_config_contract_path" value="configuration/contract.csc"/>
<stringAttribute key="destecs_launch_config_ct_endpoint" value="http://localhost:5580"/>
<booleanAttribute key="destecs_launch_config_ct_leave_dirty_for_inspection" value="true"/>
<stringAttribute key="destecs_launch_config_ct_model_path" value="model_ct/selfBalancingScooter 2D_1.emx"/>
<stringAttribute key="destecs_launch_config_de_architecture" value=""/>
<stringAttribute key="destecs_launch_config_de_endpoint" value=""/>
<stringAttribute key="destecs_launch_config_de_model_path" value="model_de"/>
<stringAttribute key="destecs_launch_config_de_replace" value=""/>
<booleanAttribute key="destecs_launch_config_de_rt_validation" value="false"/>
<booleanAttribute key="destecs_launch_config_debug" value="false"/>
<booleanAttribute key="destecs_launch_config_enable_logging" value="false"/>
<stringAttribute key="destecs_launch_config_project_name" value="ChessWay_DESTECS"/>
<booleanAttribute key="destecs_launch_config_remote_debug" value="false"/>
<stringAttribute key="destecs_launch_config_remote_project_base1" value=""/>
<stringAttribute key="destecs_launch_config_scenario_path" value="scenarios/scenario2.script2"/>
<stringAttribute key="destecs_launch_config_shared_design_param" value="initial_Position[2]:=[-0.7, -0.398];encoder_resolution:=0.0;linefollow_lateral_offset:=0.01;initial_Angle:=0.532;linefollow_longitudinal_offset:=0.07;"/>
<booleanAttribute key="destecs_launch_config_show_debug_info" value="false"/>
<booleanAttribute key="destecs_launch_config_show_octave_plots" value="false"/>
<stringAttribute key="destecs_launch_config_simulation_time" value="30"/>
<booleanAttribute key="destecs_launch_config_use_remote_ct_simulator" value="false"/>
<stringAttribute key="destecs_launch_config_vdm_log_variables" value=""/>
<booleanAttribute key="vdm_launch_config_dtc_checks" value="true"/>
<booleanAttribute key="vdm_launch_config_generate_coverage" value="true"/>
<booleanAttribute key="vdm_launch_config_inv_checks" value="true"/>
<booleanAttribute key="vdm_launch_config_log_rt" value="true"/>
<booleanAttribute key="vdm_launch_config_measure_checks" value="true"/>
<booleanAttribute key="vdm_launch_config_post_checks" value="true"/>
<booleanAttribute key="vdm_launch_config_pre_checks" value="true"/>
</launchConfiguration>
