<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="true"
               locationURI="popup:org.destecs.ide.ui.destecsExplorer">
  			<menu
 				label="Model Management">

			<command commandId="org.destecs.ide.modelmanagement.commandTag"
				label="Tag project as Baseline"
				style="push">
      <visibleWhen
            checkEnabled="false">
         <iterate>
            <adapt
                  type="org.eclipse.core.resources.IFolder">
            </adapt>
         </iterate>
      </visibleWhen>
			</command>
  			<command
           commandId="org.destecs.ide.modelmanagement.commandImportantChange"
           label="Mark as Important Change"
           style="push">
    		</command>
         <command
               commandId="org.destecs.ide.modelmanagement.commandExplore"
               label="Add Exploration Point"
               style="push">
         </command>
         <command
               commandId="org.destecs.ide.modelmanagement.commandAutoCompareCommit"
               label="Auto-Compare and Commit"
               style="push">
         </command>
           <separator
                name="org.destecs.ide.modelmanagement.separator1"
        	    visible="true"
     		    style="push">
   		   </separator>
 	       <command commandId="org.destecs.ide.modelmanagement.commandShowLog"
    	       label="Show Development Log"
   	           style="push">
     	   </command>
     	   <command commandId="org.destecs.ide.modelmanagement.commandShowLogGraph"
         	  label="Generate Development Graph"
         	  style="push">
   		   </command>
         <separator
               name="org.destecs.ide.modelmanagement.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.destecs.ide.modelmanagement.commandSaveAsReusable"
               label="Save as Reusable Element"
               style="push"
               tooltip="Save as resuable element to user defined model library">
         </command>
         <command
               commandId="org.destecs.ide.modelmanagement.commandUpdateElement"
               label="Update All Elements"
               style="push"
               tooltip="Update all elements in the model where use this reusable element, will launch model compare window">
         </command>
  		   </menu>
 
        </menuContribution>
 
  </extension>
 
<extension point="org.eclipse.ui.commands">
<command
 	id="org.destecs.ide.modelmanagement.commandTag"
	name="Tag project as Baseline">
 </command>
<command
      id="org.destecs.ide.modelmanagement.commandImportantChange"
      name="Mark as important change">
</command>
<command
      id="org.destecs.ide.modelmanagement.commandExplore"
      name="Add exploration point">
</command>
<command
      id="org.destecs.ide.modelmanagement.commandAutoCompareCommit"
      name="Auto-compare and Commit">
</command>
<command
      id="org.destecs.ide.modelmanagement.commandShowLog"
      name="Show development overview">
</command>
<command
      id="org.destecs.ide.modelmanagement.commandShowLogGraph"
      name="Show log graph">
</command>
<command
      id="org.destecs.ide.modelmanagement.commandSaveAsReusable"
      name="Save as reusable element">
</command>
<command
      id="org.destecs.ide.modelmanagement.commandUpdateElement"
      name="Update all elements">
</command>
</extension>
  
 <extension point="org.eclipse.ui.handlers">
	<handler class="org.destecs.ide.modelmanagement.TagCommandHandler"
 		commandId="org.destecs.ide.modelmanagement.commandTag">
	</handler>
 <handler
       class="org.destecs.ide.modelmanagement.ImportantChangeCommandHandler"
       commandId="org.destecs.ide.modelmanagement.commandImportantChange">
 </handler>
 <handler
       class="org.destecs.ide.modelmanagement.ExploreCommandHandler"
       commandId="org.destecs.ide.modelmanagement.commandExplore">
 </handler>
 <handler
       class="org.destecs.ide.modelmanagement.AutoCompareCommitCommandHandler"
       commandId="org.destecs.ide.modelmanagement.commandAutoCompareCommit">
 </handler>
 <handler
       class="org.destecs.ide.modelmanagement.ShowLogCommandHandler"
       commandId="org.destecs.ide.modelmanagement.commandShowLog">
 </handler>
 <handler
       class="org.destecs.ide.modelmanagement.ui.showlog.ShowLogGraphCommandHandler"
       commandId="org.destecs.ide.modelmanagement.commandShowLogGraph">
 </handler>
 <handler
       class="org.destecs.ide.modelmanagement.SaveAsReusableCommandHandler"
       commandId="org.destecs.ide.modelmanagement.commandSaveAsReusable">
 </handler>
 <handler
       class="org.destecs.ide.modelmanagement.UpdateElementCommandHandler"
       commandId="org.destecs.ide.modelmanagement.commandUpdateElement">
 </handler>
 </extension> 
 
  
  
  

  

 
 <extension point="org.eclipse.ui.actionSets">
    <actionSet
          id="org.destecs.ide.modelmanagement.actionSet"
          label="Mgmt"
          visible="true">
       <menu
             id="org.destecs.ide.modelmanagement.menu"
             label="Model Management"
             path="window">
          <separator
                name="MgmtGroupMenu1">
          </separator>
       </menu>
       <action
             class="org.destecs.ide.modelmanagement.ShowDevLogAction"
             id="org.destecs.ide.modelmanagement.actionShowLog"
             label="Show Development Log"
             menubarPath="org.destecs.ide.modelmanagement.menu/MgmtGroupMenu1"
             style="push">
       </action>
       <action
             class="org.destecs.ide.modelmanagement.ShowBaselineAction"
             id="org.destecs.ide.modelmanagement.actionShowBaseline"
             label="Generate Development Graph"
             menubarPath="org.destecs.ide.modelmanagement.menu/MgmtGroupMenu1"
             style="push">
       </action>
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          class="org.destecs.ide.modelmanagement.LoggraphViewPart"
          id="org.destecs.ide.modelmanagement.viewLogGraph"
          name="Log Graph View"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.destecs.ide.modelmanagement.ui.showlog.LogGraphEditor"
          default="false"
          id="org.destecs.ide.modelmanagement.editorLogGraph"
          name="Log Graph Editor">
    </editor>
    <editor
          class="org.destecs.ide.modelmanagement.editors.DevLogGraphEditor"
          contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
          extensions="jpg"
          icon="icons/sample.gif"
          id="org.destecs.ide.modelmanagement.editors.DevLogGraphEditor"
          name="Development Overview Graph">
    </editor>
 </extension>

</plugin>
