<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- 
	DESTECS Perspective 
-->
	<extension
         point="org.eclipse.ui.perspectives">
		<perspective
            class="org.destecs.ide.ui.DestecsPerspectiveFactory"
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.ui.perspective"
            name="%org.destecs.ide.ui.perspective.name">
			<description>
            %DestecsPerspectiveDescription
			</description>
		</perspective>
	</extension>

	<!-- 
	New Wizards
-->
	<extension
         point="org.eclipse.ui.newWizards">
		<wizard
            category="org.destecs.ide.ui.category"
            class="org.destecs.ide.ui.wizards.DestecsNewWizard"
            finalPerspective="org.destecs.ide.ui.perspective"
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.ui.newProjectWizard"
            name="%org.destecs.ide.ui.newProjectWizard.name"
            preferredPerspectives="org.destecs.ide.ui.perspective"
            project="true">
		</wizard>
		<category
            id="org.destecs.ide.ui.category"
            name="%org.destecs.ide.ui.category.name">
		</category>
		<wizard
            category="org.destecs.ide.ui.category"
            class="org.destecs.ide.ui.wizards.ScenarioNewWizard"
            id="org.destecs.ide.ui.newScenario"
            name="%org.destecs.ide.ui.newScenario.name">
		</wizard>
		<primaryWizard
            id="org.destecs.ide.ui.newProjectWizard">
		</primaryWizard>
		<wizard
            category="org.destecs.ide.ui.category"
            class="org.destecs.ide.ui.wizards.ContractNewWizard"
            icon="icons/cview16/contract_file_tsk.gif"
            id="org.destecs.ide.ui.newContract"
            name="%org.destecs.ide.ui.newContract.name">
		</wizard>
		<wizard
            category="org.destecs.ide.ui.category"
            class="org.destecs.ide.ui.wizards.ArchitectureNewWizard"
            id="org.destecs.ide.ui.newArchitecture"
            name="%org.destecs.ide.ui.newArchitecture.name">
		</wizard>
	</extension>

	<!-- 
	DESTECS Explorer
-->
	<extension
         point="org.eclipse.ui.views">
		<view
            category="org.destecs.ide.ui.category"
            class="org.destecs.ide.ui.navigator.DestecsNavigator"
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.ui.destecsExplorer"
            name="%org.destecs.ide.ui.destecsExplorer.name"
            restorable="true">
		</view>
		<category
            id="org.destecs.ide.ui.category"
            name="%org.destecs.ide.ui.category.name">
		</category>
	</extension>

	<!-- Navigator viewer -->
	<extension
         point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding
            viewerId="org.destecs.ide.ui.destecsExplorer">
			<includes>
				<contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
				</contentExtension>
				 <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />
				<contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
				</contentExtension>
				<contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
				</contentExtension>
				<contentExtension
                  pattern="org.destecs.ide.ui.destecsNavigatorContent">
				</contentExtension>
				<contentExtension
                  pattern="org.destecs.ide.ui.navigator.resources.filters.*">
				</contentExtension>
				<contentExtension pattern="org.overture.resources.filters.coverageeditor.endsWithCovTbl"/>

			</includes>
		</viewerContentBinding>
		<viewerActionBinding
            viewerId="org.destecs.ide.ui.destecsExplorer">
			<includes>
				<actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
				</actionExtension>           
			</includes>
		</viewerActionBinding>
	</extension>

	<!-- Navigator content -->
	<extension
         point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
            activeByDefault="true"
            contentProvider="org.overture.ide.ui.navigator.VdmNavigatorCustomContentProvider"
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.ui.destecsNavigatorContent"
            labelProvider="org.destecs.ide.ui.navigator.DestecsLabelProvider"
            name="%org.destecs.ide.ui.destecsNavigatorContent.name"
            priority="highest">
			<triggerPoints>
				<or>
					<instanceof
                     value="org.eclipse.core.resources.IProject">
					</instanceof>
					<instanceof
                     value="org.eclipse.core.resources.IResource">
					</instanceof>
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof
                     value="org.eclipse.core.resources.IResource">
					</instanceof>
				</or>
			</possibleChildren>
			<enablement>
				<or>
					<instanceof
                     value="org.eclipse.core.resources.IProject">
					</instanceof>
					<instanceof
                     value="org.eclipse.core.resources.IResource">
					</instanceof>
				</or>
			</enablement>
			<override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.team.ui.resourceContent">
			</override>
			
			<commonWizard
               type="new"
               wizardId="org.destecs.ide.ui.newContract">
				<enablement>
					<or>
						<adapt
                        type="org.destecs.ide.core.resources.IDestecsProject">
						</adapt>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard
               type="new"
               wizardId="org.destecs.ide.ui.newScenario">
				<enablement>
					<or>
						<adapt
                        type="org.destecs.ide.core.resources.IDestecsProject">
						</adapt>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard
               type="new"
               wizardId="org.destecs.ide.ui.newArchitecture">
				<enablement>
					<or>
						<adapt
                        type="org.destecs.ide.core.resources.IDestecsProject">
						</adapt>
					</or>
				</enablement>
			</commonWizard>
			<dropAssistant
               class="org.eclipse.ui.navigator.resources.ResourceDropAdapterAssistant"
               id="org.destecs.ide.ui.dropAssistant">
				<possibleDropTargets/>
			</dropAssistant>
		</navigatorContent>

		<commonWizard
            type="new"
            wizardId="org.destecs.ide.ui.newProjectWizard">
			<enablement/>
		</commonWizard>

		<commonWizard
            menuGroupId="org.destecs.ide.ui.destecs"
            type="new"
            wizardId="org.destecs.ide.ui.addLibraryWizard">
			<enablement>
				<or>
					<adapt
                     type="org.destecs.ide.core.resources.IDestecsProject">

					</adapt>
					<adapt
                     type="org.eclipse.core.resources.IFolder">

					</adapt>
				</or>
			</enablement>
		</commonWizard>
		
		 <commonWizard
           menuGroupId="org.destecs.ide.ui.destecs"     
            type="new"
            wizardId="org.overture.ide.vdmpp.ui.addLibraryWizard">
         <enablement>
          <or>
             <adapt
                     type="org.destecs.ide.core.resources.IDestecsProject">
                 
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  
               </adapt>
            </or>
         </enablement>
      </commonWizard>

		<commonFilter
            activeByDefault="true"
            description="Filters Start with Dot"
            id="org.eclipse.ui.navigator.resources.filters.startsWithDot"
            name="%org.eclipse.ui.navigator.resources.filters.startsWithDot.name">
			<filterExpression>
				<and>
					<adapt
                     type="org.eclipse.core.resources.IResource">
						<test
                        property="org.eclipse.core.resources.name"
                        value=".*">
						</test>
					</adapt>
				</and>
			</filterExpression>
		</commonFilter>
		<!--http://wiki.eclipse.org/Command_Core_Expressions-->
		<commonFilter
            activeByDefault="true"
            description="%Filters.Only.DestecsProjects.description"
            id="org.destecs.ide.ui.navigator.resources.filters.DestecsProjects"
            name="%Filters.Only.DestecsProjects.name">
			<filterExpression>
				<and>
					<not>
						<adapt
                        type="org.eclipse.core.resources.IProject">
							<or>
								<test
                               property="org.eclipse.core.resources.projectNature"
                                value="org.destecs.ide.core.nature">
								</test>
								<not>
									<test property="org.eclipse.core.resources.open">
									</test>
								</not>
							</or>
						</adapt>
					</not>
					<instanceof
                     value="org.eclipse.core.resources.IProject">
					</instanceof>
				</and>
			</filterExpression>
		</commonFilter>
	</extension>
	<extension
         point="org.eclipse.ui.ide.projectNatureImages">
		<image
            icon="icons/ovr16/destecs_ovr.png"
            id="org.destecs.ide.ui.image"
            natureId="org.destecs.ide.core.nature">
		</image>
	</extension>


	<!-- 
	Editors
-->
	<extension
         point="org.eclipse.ui.editors">

		<editor
            class="org.destecs.ide.ui.editor.impl.CoSimMultiPageEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="csc,link"
            icon="icons/cview16/contract_file_tsk.gif"
            id="org.destecs.ide.contracteditor.editor.impl.CoSimulationMultipageEditor"
            matchingStrategy="org.destecs.ide.ui.editor.impl.CoSimMultiPageEditorMatchingStrategy"
            name="%org.destecs.ide.contracteditor.editor.impl.CoSimulationMultipageEditor.name">
		</editor>


		<editor
            class="org.destecs.ide.ui.editor.impl.ContractEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="icons/cview16/contract_file_tsk.gif"
            id="org.destecs.ide.contracteditor.editor.core.DestecsContractEditor"
            name="%org.destecs.ide.contracteditor.editor.core.DestecsContractEditor.name">
		</editor>

		<editor
            class="org.destecs.ide.ui.editor.impl.VdmLinkEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="icons/cview16/contract_file_tsk.gif"
            id="org.destecs.ide.contracteditor.editor.core.VdmLinkEditor"
            name="%org.destecs.ide.contracteditor.editor.core.VdmLinkEditor.name">
		</editor>

		<editor
            class="org.destecs.ide.ui.editor.impl.ScenarioEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="script"
            icon="icons/cview16/contract_file_tsk.gif"
            id="org.destecs.ide.contracteditor.editor.core.ScenarioEditor"
            name="%org.destecs.ide.contracteditor.editor.core.ScenarioEditor.name">
		</editor>

		<editor
            class="org.destecs.ide.ui.editor.impl.ScriptEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="script2"
            icon="icons/cview16/contract_file_tsk.gif"
            id="org.destecs.ide.contracteditor.editor.core.ScriptEditor"
            name="%org.destecs.ide.contracteditor.editor.core.ScriptEditor.name">
		</editor>

		<editor
            class="org.destecs.ide.ui.editor.impl.SdpEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="sdp"
            icon="icons/cview16/contract_file_tsk.gif"
            id="org.destecs.ide.contracteditor.editor.core.SdpEditor"
            name="%org.destecs.ide.contracteditor.editor.core.SdpEditor.name">
		</editor>
	</extension>
	<extension
         point="org.eclipse.ui.preferencePages">
		<page
            class="org.destecs.ide.ui.DestecsPreferencePage"
            id="org.destecs.ide.ui.page"
            name="%org.destecs.ide.ui.page.name">
		</page>
	</extension>
	<extension
         point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
            targetID="org.destecs.ide.ui.perspective">
			<view
               id="org.destecs.ide.ui.destecsExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
			</view>
   <newWizardShortcut
         id="org.overture.ide.vdmpp.ui.addLibraryWizard">
   </newWizardShortcut>
		</perspectiveExtension>
	</extension>

	<extension
         point="org.eclipse.ui.commands">
		<command
            id="org.destecs.ide.ui.projectUpgradeCommand"
            name="%org.destecs.ide.ui.projectUpgradeCommand.name">
		</command>
	</extension>
	<extension
         point="org.eclipse.ui.handlers">
		<handler
            class="org.destecs.ide.ui.handlers.UpgradeProjectHandler"
            commandId="org.destecs.ide.ui.projectUpgradeCommand">
		</handler>
	</extension>
	<extension
         point="org.eclipse.ui.menus">
		<menuContribution
           locationURI="popup:org.destecs.ide.ui.destecsExplorer">
			<menu
              id="org.destecs.ui"
              label="%org.destecs.ui.menu.label">
				<command
                 commandId="org.destecs.ide.ui.projectUpgradeCommand"
                 icon="icons/obj16/systemupgrade_obj.gif"
                 label="%org.destecs.ide.ui.projectUpgradeCommand.name"
                 style="push">
					<visibleWhen
                    checkEnabled="false">
						<iterate>

							<adapt type="org.destecs.ide.core.resources.IDestecsProject">
							</adapt>

						</iterate>
					</visibleWhen>
				</command>
    <visibleWhen
          checkEnabled="false">
       <iterate
             ifEmpty="false">
       </iterate>
    </visibleWhen>
			</menu>
		</menuContribution>
	</extension>

	<extension
         point="org.eclipse.ui.handlers">
		<handler
            class="org.destecs.ide.ui.commands.ToggleComment"
            commandId="org.overture.ide.ui.commands.toggleComment">
			<activeWhen>
				<reference
                  definitionId="org.destecs.ide.ui.insideDestecsEditor">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
         point="org.eclipse.core.expressions.definitions">
		<definition
            id="org.destecs.ide.ui.insideDestecsEditor">
			<with
               variable="activeEditor">
				<or>
					<instanceof
                     value="org.destecs.ide.ui.editor.impl.AbstractDestecsEditor">
					</instanceof>
					<instanceof
                     value="org.destecs.ide.ui.editor.impl.CoSimMultiPageEditor">
					</instanceof>
				</or>
			</with>
		</definition>
	</extension>


	<!-- 
	New contract  command
-->
	<!--extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.destecs.ide.ui.category"
            defaultHandler="org.destecs.ide.ui.commands.NewContractCommand"
            id="org.destecs.ide.ui.commands.newContract"
            name="New Contract">
      </command>
      <category
            id="org.destecs.ide.ui.category"
            name="DESTECS">
      </category>
   </extension-->

	<!-- 
	Menus
-->
	<!--extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.destecs.ide.ui.destecsExplorer?after=new">
         <command
               commandId="org.destecs.ide.ui.commands.newContract"
               label="NEW CONTRACT"
               style="push">
         </command>
      </menuContribution>
   </extension-->


</plugin>
