<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.destecs.ide.ui.DestecsPerspectiveFactory"
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.ui.perspective"
            name="DESTECS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.destecs.ide.ui.wizards.DestecsNewWizard"
            finalPerspective="org.destecs.ide.ui.perspective"
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.ui.newProjectWizard"
            name="DESTECS Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.destecs.ide.ui.navigator.DestecsNavigator"
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.ui.destecsExplorer"
            name="DESTECS Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.destecs.ide.ui.destecsExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="org.destecs.ide.ui.destecsNavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.destecs.ide.ui.destecsExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.destecs.ide.ui.navigator.DestecsContentProvider"
            id="org.destecs.ide.ui.destecsNavigatorContent"
            labelProvider="org.destecs.ide.ui.navigator.DestecsLabelProvider"
            name="DESTECS Navigator Content"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </possibleChildren>
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <commonWizard
            type="new"
            wizardId="org.destecs.ide.ui.newProjectWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ctool16/destecs_misc.png"
            id="org.destecs.ide.ui.image"
            natureId="org.destecs.ide.core.nature">
      </image>
   </extension>

</plugin>
