<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editor-Name"
            extensions="digraph1"
            class="org.destecs.ide.modelmanagement.ui.showlog.testview.editor.Digraph1GraphicalEditor"
            id="org.destecs.ide.modelmanagement.ui.showlog.testview.editor.digraph1">
      </editor>
   </extension>
   
   
   <extension
         id="org.eclipse.gef.examples.digraph1"
         name="%Perspective-Name"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.gef.examples.digraph1.rcp.Digraph1Perspective"
            fixed="true"
            name="%Perspective-Name"
            id="org.eclipse.gef.examples.digraph1"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.destecs.ide.modelmanagement.ui.showlog.testview.view.Digraph1GraphicalView"
            id="org.destecs.ide.modelmanagement.ui.showlog.testview.view.Digraph1View"
            name="%View-Name">
      </view>
   </extension>
</plugin>
